/* vim:tabstop=2:expandtab */

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  zoom: 1;
}

h1,h2,h3,h4,h5 {
  font-size: 100%;
}

body {
  font: 9pt verdana, sans-serif;
  margin: 2em;
}

  #wrapper {
    z-index: 1;
  }
  
.clear_hack {
  height: 0;
  clear: both;
  overflow: hidden;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
  font-weight: bold;
  font-family: arial, sans-serif;
}

h2 {
  font-size: 1.6em;
  margin: 0.625em 0;
}

#content p.disaster {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #f00;
  background: #e00;
  
  /* 1em @ 500% */
  font-size: 500%;
  margin-bottom: 0.2em;
}

#header {
  position: relative;
}
  
  #header h1 {
  }
  
    #header h1 a {
      display: block;
      width: 446px;
      height: 120px;
    }
    
      #header h1 a:hover {
        text-decoration: none; }
    
      #header h1 a span {
        visibility: hidden; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
    margin-left: 1em;
    min-height: 1px;
    float: left;
}


.two-columns        { padding-left: 1em; }
.two-columns .col-1 { margin-left: -1em; }

    .two-columns .col-1 {
        width: 20%; }
    .two-columns .col-2 {
        width: 70%; }

    .two-columns .col-2 img{
        width: 100%; }

.three-columns        { padding-left: 2em; }
.three-columns .col-1 { margin-left: -2em; }

    .three-columns .col-1{
        width: 10%; }
    .three-columns .col-2 {
        width: 20%; }
    .three-columns .col-3 {
        width: 70%; }

    .three-columns .col-3 img{
        width: 100%; }

#chart_options {
    font-size: 75%;
}
/* this is not okay. but it is, unfortunately, the least error-prone way
 * (that i know) of fixing broken floaty layouts in IE6 */
div.clear-hack {
    overflow: hidden;
    clear: both;
    height: 0;
}

#inner {
    padding: 1em;
    position: relative;
}

