{% extends "layout-split-2.html" %}

{% block title %}
{% load i18n %}
	{% trans "Dashboard" %}
{% endblock %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/dygraph-combined.js"></script>
<script src="/assets/js/vax-dev.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
<script src="/assets/js/module-help.js"></script>
{% endblock %}

{% block left %}
{% load i18n %}
{% load getattribute %}

    {% if countries %}
    <div id="module-options" class="module expanded">
        <h3>{% trans "Chart options" %}</h3>
        <div id="vaxform">
            <h5>{% trans "Country" %}</h5>
            <form id="countries" action="">
                <select id="country">
                {% for c in countries %}
                        <option value="{{c.anon}}">{{ c|getattribute:LANGUAGE_CODE }}</option>
                {% endfor %}
                </select>
            </form>
            <h5>{% trans "Vaccine" %}</h5>
            <form id="vaccines" action="">
                {% for v in groups %}
                        <input type="radio" name="vax" id="radio-{{ v.slug }}" value="{{ v.slug }}"/>
                        <label for="radio-{{ v.slug }}" fr="{{ v.fr }}" en="{{ v.en }}"> </label><br />
                {% endfor %}
            </form>
            <h5>{% trans "Select an indicator" %}</h5>
            <form id="plot_options" action="">
                <input type="checkbox" id="checkbox-S" value="" checked="checked" disabled="disabled"/>
                <label for="checkbox-S" class='tipoff' title="{% trans "Show actual stock" %}">{% trans "Show actual stock" %}</label><br />
                <input type="checkbox" id="checkbox-T" value="T" checked="checked" />
                <label for="checkbox-T" class='tipoff' title="{% trans "Show 3 month buffer stock (minimum stock level)." %}">{% trans "Show buffer stock indicator" %}</label><br />
                <input type="checkbox" id="checkbox-N" value="N" checked="checked" />
                <label for="checkbox-N" class='tipoff' title="{% trans "Show 9 month overstock (maximum stock level)." %}">{% trans "Show overstock indicator" %}</label><br />
                <input type="checkbox" id="checkbox-F" value="F" checked="checked" />
                <label for="checkbox-F" class='tipoff' title="{% trans "Show forecasted stock level for the future based on planned deliveries from  UNICEF country office's annual forecasts."%}">{% trans "Show forecasted stock level based on theoretical usage (and including forecasted orders)" %}</label><br />
                <input type="checkbox" id="checkbox-P" value="P" checked="checked" />
                <label for="checkbox-P" class='tipoff' title="{% trans "Show forecasted stock level for the future based on planned deliveries that are on purchase order (payment has been made, though delivery date may vary)."%}">{% trans "Show forecasted stock level based on theoretical usage (and including placed orders)" %}</label><br />
                <input type="checkbox" id="checkbox-C" value="C" checked="checked" />
                <label for="checkbox-C" class='tipoff' title="{% trans "Show projected stock level for past and future based on planned deliveries from UNICEF country office's annual forecasts (theoretical, intended as tool to examine past forecasting)."%}">{% trans "Show original projected stock level (based on country office forecast)" %}</label><br />
                <input type="checkbox" id="checkbox-U" value="U" checked="checked" />
                <label for="checkbox-U" class='tipoff' title="{% trans "Show projected stock level for past and future based on planned deliveries adjusted to include actual deliveries to date (theoretical, intended as tool to examine past forecasting)."%}">{% trans "Show original projected stock level (based on forecast and deliveries)" %}</label><br />
            </form>

    	    <div id="download"><a href="#">{% trans "Download data for this chart"%}</a></div>

            <h5>{% trans "Situation as of" %}</h5>
            <form id="situation" action="">
                <select id="sit_year">
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                </select>
                <select id="sit_month">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                </select>
                <select id="sit_day">
                <option value="1">1</option>
                <option value="15">15</option>
                </select>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="module expanded" id="module-info">
        <h3>{% trans "Alerts" %}</h3>
	<div>
	<ul id='alerts'>
	</ul>
	</div>
    </div>
    <div class="module expanded" id="module-stats">
        <h3>{% trans "Details" %}</h3>
	<div>
	<table id='stats' border='0' cellpadding='0' cellspacing='0'>
		<tbody>
		</tbody>
	</table>
	</div>
    </div>
{% endblock %}

{% block right %}
{% load i18n %}
    <div class="module" id="module-chart">
        <h3>{% trans "Chart" %}</h3>
	<div class="help"><p>{% trans "Click and drag on chart to select a portion and zoom in; double-click on chart to zoom out." %}</p></div>
        <div id="legend" style="float:right;"></div>
        <div id="chart" style="width:800px;height:600px;"></div>
    </div>
    <div class="module expanded" id="module-hist">
        <h3>{% trans "Historical" %}</h3>
	<div>
	<table id='hist' border='0' cellpadding='0' cellspacing='0'>
		<tbody>
		</tbody>
	</table>
	</div>
    </div>
{% endblock %}
