{% extends "layout-split-2.html" %}

{% block title %}
{% load i18n %}
	{% trans "Dashboard" %}
{% endblock %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/vax.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
{% endblock %}

{% block left %}
{% load i18n %}
{% load getattribute %}

    {% if countries %}
    <div id="module-options" class="module expanded">
        <h3>{% trans "Chart options" %}</h3>
        <div id="vaxform">
            <h5>{% trans "Country" %}</h5>
            <form id="countries" action="">
                <select id="country">
                {% for c in countries %}
                        <option value="{{c.pk}}">{{ c|getattribute:LANGUAGE_CODE }}</option>
                {% endfor %}
                </select>
                <img id="flag" src="">
            </form>
            <h5>{% trans "Vaccine" %}</h5>
            <form id="vaccines" action="">
                {% for v in groups %}
                        <input type="radio" name="vax" id="radio-{{ v.slug }}" value="{{ v.slug }}"/>
                        <label for="radio-{{ v.slug }}" fr="{{ v.fr }}" en="{{ v.en }}"> </label><br />
                {% endfor %}
            </form>
            <h5>{% trans "Select an indicator" %}</h5>
            <form id="plot_options" action="">
                <input type="checkbox" id="checkbox-S" value="" checked="checked" disabled="disabled"/>
                <label for="checkbox-S" class='tipoff' title="{% trans "Show actual stock" %}">{% trans "Show actual stock" %}</label><span class="chart-legend" style="color:blue;">&mdash;</span><br />
                <input type="checkbox" id="checkbox-B" value="B" checked="checked" />
                <label for="checkbox-B" class='tipoff' title="{% trans "Show 3 month buffer stock (minimum stock level) and 9 month overstock (maximum stock level)." %}">{% trans "Show buffer stock  &amp; overstock indicators" %}</label><span class="chart-legend" style="color:red;">&mdash;</span><br />
                <input type="checkbox" id="checkbox-F" value="F" checked="checked" />
                <label for="checkbox-F" class='tipoff' title="{% trans "Show forecasted stock level for the future based on planned deliveries from  UNICEF country office's annual forecasts."%}">{% trans "Show current forecasted orders (on forecast)" %}</label><span class="chart-legend" style="color:purple;">---</span><br />
                <input type="checkbox" id="checkbox-P" value="P" checked="checked" />
                <label for="checkbox-P" class='tipoff' title="{% trans "Show forecasted stock level for the future based on planned deliveries that are on purchase order (payment has been made, though delivery date may vary)."%}">{% trans "Show current forecasted orders (on purchase)" %}</label><span class="chart-legend" style="color:blue;">---</span><br />
                <input type="checkbox" id="checkbox-C" value="C" checked="checked" />
                <label for="checkbox-C" class='tipoff' title="{% trans "Show projected stock level for past and future based on planned deliveries from UNICEF country office's annual forecasts (theoretical, intended as tool to examine past forecasting)."%}">{% trans "Show original projected stock level (based on country office forecast)" %}</label><span class="chart-legend" style="color:green;">---</span><br />
                <input type="checkbox" id="checkbox-U" value="U" checked="checked" />
                <label for="checkbox-U" class='tipoff' title="{% trans "Show projected stock level for past and future based on planned deliveries adjusted to include actual deliveries to date (theoretical, intended as tool to examine past forecasting)."%}">{% trans "Show original projected stock level (based on forecast and deliveries)" %}</label><span class="chart-legend" style="color:orange;">---</span><br />
            </form>
        </div>
    </div>
    {% endif %}
    <div class="module expanded" id="module-info">
        <h3>{% trans "Alerts" %}</h3>
	<div>
	<ul id='alerts'>
	</ul>
	</div>
    </div>
    <div class="module expanded" id="module-stats">
        <h3>{% trans "Details" %}</h3>
	<div>
	<table id='stats' border='0' cellpadding='0' cellspacing='0'>
		<tbody>
		</tbody>
	</table>
	</div>
    </div>
{% endblock %}

{% block right %}
{% load i18n %}
    <div class="module" id="module-chart">
        <h3>{% trans "Chart" %}</h3>
        <img id="chart" src="">
        <div class="toolbar">
        </div>
    </div>
    <div class="module expanded" id="module-hist">
        <h3>{% trans "Historical" %}</h3>
	<div>
	<table id='hist' border='0' cellpadding='0' cellspacing='0'>
		<tbody>
		</tbody>
	</table>
	</div>
    </div>
{% endblock %}
