{% extends "layout-split-2.html" %}

{% block title %}Dashboard{% endblock %}
{% block javascripts %}
{{ block.super }}
<script type="text/javascript">

$(document).ready(function(){

    var options = new Array("B","F","P","C","U");
    var vaccine = "BCG";
    var country = "TD";
    var chart_name = "";

    $("#chart_options :input").val(["B","F","P","C","U"]);
    $("#vaccines :input").val(["BCG"]);
    $("#country").val("TD");
    get_chart();

    $("#chart_options :input").click(function(){
        options = new Array();
	$("#chart_options :input:checked").each(function() {
	    options.push( $(this).val() );
	});
        get_chart();
    });

    $("#vaccines :input").click(function(){
        vaccine = "";
	$("#vaccines :input:radio:checked").each(function() {
	    vaccine = $(this).val();
	});
        get_chart();
    });

    $("#country").change(function(){
        country = "";
	country = $(this).val();
        get_chart();
    });

    function get_chart(){
        chart_opts = options.sort().join("")
        chart_name = country + "-" + vaccine + "-" + chart_opts + ".png";
        $("#chart").attr('src', "/charts/" + chart_name);
    };
});
</script>
{% endblock %}

{% block left %}
    {% if countries %}
    <div class="module expanded">
        <h3>Chart options</h3>
        <h4>Country</h4>
	<form id="countries" action="">
	    <select id="country">
	    {% for c in countries %}
		    <option value="{{c.pk}}">{{c.printable_name}}</option>
	    {% endfor %}
	    </select>
	</form>
        <h4>Vaccine</h4>
	<form id="vaccines" action="">
	    {% for v in vaccines %}
		    <input type="radio" name="{{ v.abbr }}" value="{{ v.abbr }}"/> {{ v.name }} <br />
	    {% endfor %}
	</form>
        <h4>Data</h4>
        <form id="chart_options" action="">
            <input type="checkbox" name="B" value="B" checked="checked" />Show buffer stock  &amp; overstock indicators<br />
            <input type="checkbox" name="F" value="F" checked="checked" />Show forecasted stock level (forcasted)<br />
            <input type="checkbox" name="P" value="P" checked="checked" />Show forecasted stock level (adjusted with POs)<br />
            <input type="checkbox" name="C" value="C" checked="checked" />Show projected stock level (based on forecast)<br />
            <input type="checkbox" name="U" value="U" checked="checked" />Show projected stock level (adjusted with deliveries)<br />
        </form>
    </div>
    {% endif %}
{% endblock %}

{% block right %}
    <div class="module">
        <h3>Chart</h3>
        <img id="chart" src="">
        <div class="toolbar">
            <a class="maximize">Maximize</a>
        </div>
    </div>
{% endblock %}
