<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>IMS :: {% block title %}{% endblock %}</title>
		<link type="text/css" rel="stylesheet" href="/assets/style.css" />
	</head>
	<body>
		<div id="header">
			<h1>Immunization monitoring system</h1>
			<ul>
				<li{% ifequal tab "dashboard" %} class="active"{% endifequal %}><a href="/">Dashboard</a></li>
			</ul>
		</div>
		<div id="inner">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<p class="rights">
				Copyright &copy; 2010 UNICEF. All Rights Reserved.<br />
			</p>
		</div>
	</body>
</html>
