<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load i18n %}
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9"/>
		<title>VisualVaccines:: {% block title %}{% endblock %}</title>
		{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
		<link type="text/css" rel="stylesheet" href="/assets/css/modules.css" />
		{% endblock %}
		{% block javascripts %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/assets/js/collapse.js"></script>
		<script src="/assets/js/tooltip.js"></script>
		<script src="/assets/js/module-help.js"></script>
		<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
		{% endblock %}
	</head>
	<body>
		<div id="header">
			<div id="auth">
			    <form action="/i18n/setlang/" method="post">
				<select name="language">
				{% for lang in LANGUAGES %}
				    <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} SELECTED {% endifequal %}>
				    {{ lang.1 }}</option>
				{% endfor %}
				</select>
			    {% csrf_token %}
			    <input type="submit" value="{% trans "Go" %}" />
			    </form>
			    {% if user.is_authenticated %}
				<p>{% trans "Logged in as" %} {{ user.username }}. <a href="{% url logout %}">{% trans "Logout" %}</a></p>
			    {% else %}
				<p>{% trans "Welcome, please" %} <a href="{% url login %}">{% trans "log in" %}</a> {% trans "or" %} <a href="{% url register %}">{% trans "register" %}</a>.</p>
			    {% endif %}
			    <p>
			    {% if user.is_superuser %}
				<a href="/translations/pick/">{% trans "Edit translations" %}</a>
			    {% endif %}
			    {% if user.is_staff %}
				<a href="/nexus/">{% trans "Site admin" %}</a>
				<a href="/uploads/">{% trans "Manage uploads" %}</a>
			    {% endif %}
			    </p>
			</div>
                        <div id="branding">
                                <h1>
                                        <a title="{% trans "Return to the Dashboard" %}" href="/">VisualVaccines</a>
                                </h1>
                        </div>
			<ul id=tabs>
				<li{% ifequal tab "dashboard" %} class="active"{% endifequal %}><a href="/">{% trans "Dashboard" %}</a></li>
				<li{% ifequal tab "upload" %} class="active"{% endifequal %}><a href="{% url upload %}">{% trans "Upload data" %}</a></li>
				<li{% ifequal tab "entry" %} class="active"{% endifequal %}><a href="{% url entry %}">{% trans "Enter data" %}</a></li>
			</ul>
		</div>
		<div id="inner">
			{% block content %}
				{% load i18n %}
			{% endblock %}
		</div>

		<div id="footer">
			<p class="rights">
				{% trans "Copyright" %} &copy; 2011 <a href="http://unicef.org">UNICEF</a> &amp; <a href="http://who.int">WHO</a>.
                                {% trans "All Rights Reserved" %}.<br />
                                <a href="http://github.com/ewheeler/vaxtrack">VaxTrack</a> {% trans "software is available under" %}
                                <a href="http://github.com/ewheeler/vaxtrack/raw/master/LICENSE">{% trans "the BSD license" %}</a>.
			</p>
		</div>
	</body>
</html>
