{% extends "layout-split-2.html" %}
{% block title %}
    {% load i18n %}
    {% trans "Log in" %}
{% endblock %}
{% block right%}
{% load i18n %}
<div class="module">
    <div id="vaxform">
        {% if form.errors %}
        <p>{% trans "Oops. Your username and password didn't match. Please try again." %}</p>
        {% endif %}

        {% if user.is_authenticated %}
        <p>{% trans "Oops. You may not have permission to view the page you requested." %}</p>

        {% else %}

        <h3>{% trans "Please log in to VisualVaccines" %}</h3>


        <form method="post" action="{% url django.contrib.auth.views.login %}">
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
        {% csrf_token %}
        <input type="submit" value="{% trans "log in" %}" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
