{% extends "layout-split-2.html" %}
{% block title %}
    {% load i18n %}
    {% trans "Register" noop %}
{% endblock %}
{% block right %}
{% load i18n %}
<div class="module">
    <div id="vaxform">
        {% if form.errors %}
        <p>{% trans "Oops. Your username and password didn't match. Please try again." noop %}</p>
        {% endif %}

        {% if user.is_authenticated %}
        <p>{% trans "You're already logged in!" noop %}</p>

        {% else %}

        <h3>{% trans "Register for Vaxtrack" noop %}</h3>


        <form method="post" action="{% url register %}">
                {{ register_form.as_p }}
                {% csrf_token %}
        <input type="submit" value="{% trans "register" noop %}" />
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
